{% extends "layout.html" %}

{% block title %}
    Shopping lists
{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="mb-4">Shopping Lists</h2>
        <form action="/add_new_list" method="POST">
            <button class="btn btn-success h-25" id="add-new" type="submit">Add new</button>
        </form>
    </div>
    <div class="row">
        {% if lists %}
        {% for list in lists %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/list?id={{ list.id }}" class="text-decoration-none">
                            {{ list.name }}
                        </a>
                    </h5>
                    <form action="/remove_list" method="post" style="display:inline;">
                        <input type="text" class="d-none" name="id" readonly value="{{ list.id }}">
                        <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>You have no shopping lists</p>
        {% endif %}
    </div>
</div>

{% endblock %}
